/* 
.cardContainer{
    max-height: 80vh;
    height: 100%;
} */

#footerMenu li .active {
    /* background-color: red; */
    border-bottom: 3px solid blue;

}
.top {
    position: absolute;
    width: 100%;
    top: 0px;
    border: 3px solid #8AC007;
}
.bottom {
    position: absolute;
    width: 100%;
    bottom: 0px;
    border: 3px solid #8AC007;
  } 
/* .innerDIV{
    background-color: white;
    border: 1px solid red;
    max-height: 80vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.childiv{
    height: 100%;
} */