<div style="min-height: 438px; margin-top: 84px; margin-bottom: 90px;">
    <div class="container p-0 m-0">
        <div class="row p-0 m-0">
            <div class="col-12 pt-2 mb-3">
                <div class="d-flex card-box bg-light flex-column ">
                    <p class="px-3 pt-3 fw-bold">How To Play</p>

                    <h5 class="px-3 pt-3 ">Introduction</h5>
                    <p style="font-size: 14px;" class="px-3 text-muted">
                        The ‘How To Play’ section guides our users about the fantasy teams and how to play fantasy sports on MyTeam11. Follow the steps mentioned below to begin your winning journey on MyTeam11 fantasy sports application. In this segment, we will cover ‘How To Play Fantasy Cricket on MyTeam11 app.
                    </p>
                    <div class="w-100 d-flex justify-content-center my-4">
                        <iframe width="80%" height="auto" src="https://www.youtube.com/embed/ee49pLJCy8w" title="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <p style="font-size: 14px;" class="px-3 text-muted">
                        Use your knowledge of the game to select 11 players for your fantasy cricket team. You can select up to 8 players for each category - wicketkeepers, batsmen, all-rounders, and bowlers. Remember to stay within the allocated budget of 100 credits.
                    </p>

                    <h5 class="px-3 pt-3 ">Step-by-Step Guide to Play Fantasy Cricket</h5>
                    <div class="d-flex justify-content-center flex-column" >
                        <div class="d-flex flex-column justify-content-center align-items-center ">
                            <img src="https://d2dff8b7n2b8d5.cloudfront.net/mt11v5_images/how_cricket_1.png" alt=".." height="180" width="auto" class="mb-2" >
                            <p class="fw-bold">Select A Match</p>
                            <p style="font-size: 14px;" class="px-3 text-muted">
                                To participate in a match, simply click on the match want to make your teams in.
                            </p>
                        </div>
                        <div class="d-flex flex-column justify-content-center align-items-center ">
                            <img src="https://d2dff8b7n2b8d5.cloudfront.net/mt11v5_images/how_cricket_2.png" alt=".." height="180" width="auto" class="mb-2" >
                            <p class="fw-bold">Select A  Contest</p>
                            <p style="font-size: 14px;" class="px-3 text-muted">
                                Once you enter a match, you can select from the ‘Contests’ available on the application.                            
                            </p>
                        </div>
                        <div class="d-flex flex-column justify-content-center align-items-center ">
                            <img src="https://d2dff8b7n2b8d5.cloudfront.net/mt11v5_images/how_cricket_3.png" alt=".." height="180" width="auto" class="mb-2" >
                            <p class="fw-bold">
                                Select Your Playing XI & create ‘multiple’ teams</p>
                            <p style="font-size: 14px;" class="px-3 text-muted">
                                After selecting the contest, create your own fantasy team by selecting XI players of different ‘categories’. Each player that you select, has ‘credits’ attached to him/her. Users can create a maximum of 15 fantasy teams.
                            </p>
                        </div>
                        <div class="d-flex flex-column justify-content-center align-items-center ">
                            <img src="https://d2dff8b7n2b8d5.cloudfront.net/mt11v5_images/how_cricket_4.png" alt=".." height="180" width="auto" class="mb-2" >
                            <p class="fw-bold">
                                Select Your Captain and Vice-Captain</p>
                            <p style="font-size: 14px;" class="px-3 text-muted">
                                After creating your Playing XI, select the captain and vice-captain that will help you earn extra points.
The chosen captain will get x2 points during the match and the vice-captain will get x1.5 points.
                            </p>
                        </div>
                        <div class="d-flex flex-column justify-content-center align-items-center ">
                            <img src="https://d2dff8b7n2b8d5.cloudfront.net/mt11v5_images/how_cricket_5.png" alt=".." height="180" width="auto" class="mb-2" >
                            <p class="fw-bold">
                                Address Verification</p>
                            <p style="font-size: 14px;" class="px-3 text-muted">
                                In order to join the league and start winning, user must verify their address by uploading the copy of address proof like Aadhaar Card or Driving License.
                            </p>
                        </div>
                        <div class="d-flex flex-column justify-content-center align-items-center ">
                            <img src="https://d2dff8b7n2b8d5.cloudfront.net/mt11v5_images/how_cricket_6v2.png" alt=".." height="180" width="auto" class="mb-2" >
                            <p class="fw-bold">
                                Join The League</p>
                            <p style="font-size: 14px;" class="px-3 text-muted">
                                As you are ready with your fantasy teams now, join the contest in your selected league and negin your winning journey with MyTeam11.
                            </p>
                        </div>
                        <div class="d-flex flex-column justify-content-center align-items-center ">
                            <p class="fw-bold">
                                Check Your Wallet For Winnings</p>
                            <p style="font-size: 14px;" class="px-3 text-muted">
                                Your winnings will be credited soon after the match gets over. You can check your winnings in the ‘wallet’ section of MyTeam11 app.
                            </p>
                            <img src="https://mt11-html-images.s3.ap-south-1.amazonaws.com/your_winning.png" alt=".." height="210" width="100%" class="mb-2" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                    