<div  style="min-height: 504px; margin-top: 84px; margin-bottom: 90px;">
    <div class="container p-0 m-0">
        <div class="row p-0 m-0">
            <div class="col-12 p-0">
                <mat-card class="mx-1">
                    <mat-card-content>
                        <p class="text-center mb-1" style="font-size: 18px;">Send Us Your Feedback!</p>
                        <p class="text-center" style="font-size: 12px;">Please share your suggestion or found a bug?</p>

                        <div class="d-flex flex-column w-100">
                              <mat-form-field class="my-2">
                                <mat-label>TRANSACTION</mat-label>
                                <mat-select>
                                  <mat-option value="BONUS">BONUS</mat-option>
                                  <mat-option value="LEAGUES">LEAGUES</mat-option>
                                  <mat-option value="POINT">POINT SYSTEM</mat-option>
                                  <mat-option value="TRANSACTION">TRANSACTION</mat-option>
                                  <mat-option value="EXPERIENCE">USER EXPERIENCE</mat-option>
                                  <mat-option value="VERIFICATION">VERIFICATION AND ACCOUNT</mat-option>
                                  <mat-option value="WITHDRAWAL">WITHDRAWAL</mat-option>
                                  <mat-option value="OTHER">OTHER</mat-option>
                                </mat-select>
                              </mat-form-field>

                              <mat-form-field class="my-2">
                                <mat-label>Title</mat-label>
                                <input matInput>
                              </mat-form-field>

                              <mat-form-field class="my-2">
                                <mat-label>Enter Your Message here</mat-label>
                                <textarea matInput></textarea>
                              </mat-form-field>
                        </div>
                    </mat-card-content>
                  </mat-card> 
            </div>
        </div>
    </div>
</div>