<div  style="min-height: 504px;">
    <div class="container p-0 m-0">
        <div class="row p-0 m-0">
            <div class="col-12 p-0 bg-light">
                 <div class="d-flex w-100" style="background-image: url('https://myteam11main.s3.ap-south-1.amazonaws.com/images/static/refer-earn-header.png');
                    height: 137px;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    ">
                 </div>
                 <div class="d-flex flex-column align-items-center mx-5 mt-3">
                     <p class="text-center text-muted " style="font-size: 14px;">Each successful refer will earn you upto ₹1000 Cash Bonus & your referred friend will earn ₹125 Cash Bonus.</p>
                     <p class="text-center fw-bold " style="font-size: 18px;" > Your Referral Code</p>
                     <div class="d-flex" style="border: 2px solid blue; border-style: dashed;border-radius: 6px;">
                        <div class="d-flex p-3" style="background-color: #1140c130;">
                            <span class="px-2">{{_apiService.user_details?.refer_code}}</span>
                        </div>
                        <div class="d-flex py-3 px-2" style="background-color: #1140c148">
                            <mat-icon class="mx-1 showingpointer">content_copy</mat-icon>
                        </div>
                     </div>

                     <p class="text-center text-primary mt-3 " style="font-size: 18px;" >How does it works?</p>

                    </div>
                    <div class="d-flex flex-column mx-3">
                       <div class="d-flex align-items-center mb-2">
                           <img src="https://www.myteam11.com/fantasy-sports/assets/images/img_register_user.svg" alt=".." height="30">
                           <p class="m-0 ms-3 text-muted" style="font-size: 12px;">Invite your Friend to register on MyTeam11</p>
                       </div>
                       <div class="d-flex align-items-center mb-2">
                            <img src="https://www.myteam11.com/fantasy-sports/assets/images/img_refer_bonus.svg" alt=".." height="30">
                            <p class="m-0 ms-3 text-muted" style="font-size: 12px;" >When your friend will signup using your referral code, and will verify his/her PAN card, you’ll receive ₹50 Referral Bonus</p>
                        </div>
                        <div class="d-flex align-items-center mb-2">
                            <img src="https://www.myteam11.com/fantasy-sports/assets/images/img_big_bonus.svg" alt=".." height="30">
                            <p class="m-0 ms-3 text-muted" style="font-size: 12px;" >Further you’ll receive 5% of the amount added by your friend (₹50 or more) upto ₹1000.</p>
                        </div>
                    </div>
                    <p class="text-center text-muted text-decoration-underline showingpointer" >Refer Terms & Conditions</p>
                <p class="mt-3 text-muted ms-2">Share on 
                <img src="https://www.myteam11.com/fantasy-sports/assets/images/whatsapp.svg" alt=".." height="20" class="mx-1" >
                <img src="https://www.myteam11.com/fantasy-sports/assets/images/follo-fb.svg" alt=".." height="26" class="me-1">
                <img src="	https://www.myteam11.com/fantasy-sports/assets/images/gmail.svg" alt="..." height="20" class="me-1">
                </p>
            </div>
        </div>
    </div>
</div>