<div  style="min-height: 504px; margin-top: 84px; margin-bottom: 90px;">
    <div class="container p-0 m-0">
        <div class="row p-0 m-0">
            <div class="col-12 p-0">
                <mat-card class="mx-2">
                    <mat-card-header>
                      <mat-card-title>Playing Experience</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="d-flex justify-content-between my-3">
                            <div class="d-flex align-items-center">
                                <img src="https://www.myteam11.com/fantasy-sports/assets/images/contest-win.svg" alt=".." height="30" class="me-2"  >
                                <div class="d-flex flex-column">
                                    <p class="m-0">0</p>
                                    <p class="m-0 text-muted" style="font-size: 12px;">Contests Win</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <img src="	https://www.myteam11.com/fantasy-sports/assets/images/total-contest.svg" alt=".." height="30" class="me-2"  >
                                <div class="d-flex flex-column">
                                    <p class="m-0">0</p>
                                    <p class="m-0 text-muted" style="font-size: 12px;">Total Contests</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between my-3">
                            <div class="d-flex align-items-center">
                                <img src="https://www.myteam11.com/fantasy-sports/assets/images/matches.svg" alt=".." height="30" class="me-2"  >
                                <div class="d-flex flex-column">
                                    <p class="m-0">0</p>
                                    <p class="m-0 text-muted" style="font-size: 12px;">Total Matches</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center me-3">
                                <img src="https://www.myteam11.com/fantasy-sports/assets/images/series.svg" alt=".." height="30" class="me-2" >
                                <div class="d-flex flex-column">
                                    <p class="m-0">0</p>
                                    <p class="m-0 text-muted" style="font-size: 12px;">Total Series</p>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                  </mat-card>                   
            </div>
        </div>
    </div>
</div>