<div class="container-l p-4 m-0">

    <div class="row p-0 m-0">
        <div class="col-lg-5 p-0 col-md-8 col-12 sm-mx-auto rounded bg-light position-relative cardContainer">
            <div class="col-12 p-0 m-0" style="min-height: 660px;">
                <div class="d-flex p-4 flex-column">
                    <p class="text-center">Something went wrong here.</p>
                    <h2 class="text-center display-1 fw-bold" style="text-shadow: 0 3px 10px rgba(0,0,0,.16);color: #1141c1;">404</h2>
                    <p class="text-center">We`re working on it and we`ll get it fixed as soon as possible.</p>
                    <div class="d-flex justify-content-center">
                        <button class="px-4 rounded-pill fs-4" mat-raised-button style="background-color: #1141c1; color: white;" (click)="router.navigate(['/user-login'])">Home</button>
                    </div>
                </div>
            </div>
        </div>
</div>
    </div>