input[type="radio"] {
    visibility: hidden;
    height: 0;
    width: 0;
}

input[type='radio']:checked+label a{
    color: var(--bs-nav-tabs-link-active-color) !important;
    background-color: var(--bs-nav-tabs-link-active-bg) !important;
    border-color: var(--bs-nav-tabs-link-active-border-color) !important;
}

.limitPlayers {
    &.mat-mdc-snack-bar-container .mdc-snackbar__surface {
        border-radius: var(--mdc-snackbar-container-shape, var(--mdc-shape-small, 4px));
        background-color: rgba(233, 80, 80, 0.9);
        width: 540px;
        height: 60px;
        margin-top: 41px;
        // margin-right: 860px;
        margin-left: 45px;

        & button {
            background-color: rgba(52, 48, 48, 0.871);
        }

    }
}