<div style="min-height: 438px; margin-top: 84px; margin-bottom: 90px;">
    <div class="container p-0 m-0">
        <div class="row p-0 m-0">
            <div class="col-12 pt-2 mb-3">
                <div class="d-flex card-box flex-column " style="background-image: url('https://mt11-html-images.s3.ap-south-1.amazonaws.com/bounse_cash.jpg'); background-position: center;">
                    <p class="px-3 pt-3 fw-bold text-light ">Tutorial's</p>
                    <p class="text-center text-light">How to Play US Football on MyTeam11 - Team Creation, Scoring & More</p>
                    <div class="w-100 d-flex justify-content-center mb-4">
                        <iframe  width="80%" height="auto" src="https://www.youtube.com/embed/Jm24M7RAR8Q" title="How to play US Football Fantasy on MyTeam11" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <p class="text-center text-light">MyTeam11 - How to Play (Learn About Creating A Fantasy Team & Win Big)</p>
                    <div class="w-100 d-flex justify-content-center mb-4">
                        <iframe width="80%" height="auto" src="https://www.youtube.com/embed/GXCCG9dbRj4" title="How To Play MyTeam11 Live Fantasy | Hindi Tutorial | MyTeam11 App" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    
                    <p class="text-center text-light">How to Verify Your Account on MyTeam11 Fantasy Sports App</p>
                    <div class="w-100 d-flex justify-content-center mb-4">
                        <iframe width="80%" height="auto" src="https://www.youtube.com/embed/UhLL8I5ucgo" title="How to Verify Your Account on MyTeam11 Fantasy Sports App" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <p class="text-center text-light">How to Manage Your MyTeam11 Wallet</p>
                    <div class="w-100 d-flex justify-content-center mb-4">
                        <iframe width="80%" height="auto" src="https://www.youtube.com/embed/7kGnqb4clN4" title="How to Manage Your MyTeam11 Wallet - MyTeam11.com" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>