<div  style="min-height: 504px; margin-top: 84px; margin-bottom: 90px;">
    <div class="container p-0 m-0">
        <div class="row p-0 m-0">
            <div class="col-12 p-0">
                <div class="d-flex bg-white flex-column " >
                    <mat-tab-group>
                        <mat-tab label="Buy">
                            <div class="d-flex flex-column mx-2 mt-3 " style="height: 430px;" >
                            <mat-card>
                                <mat-card-content>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex flex-column justify-content-center ">
                                            <span class="d-inline-block text-muted fw-bold">Entry Fee</span>
                                            <span class="d-inline-block">₹ 49</span>
                                        </div>
                                        <div class="d-flex flex-column justify-content-center">
                                            <span class="d-inline-block text-muted fw-bold ">Golden Ticket</span>
                                            <span class="d-inline-block"><img src="https://www.myteam11.com/fantasy-sports/assets/images/ic_golden_ticket.svg" alt=".." height="28">25</span>
                                        </div>
                                        <div class="d-flex flex-column justify-content-center">
                                            <span class="d-inline-block text-muted fw-bold">Buy In</span>
                                            <span class="d-inline-block">₹ 850</span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mt-4">
                                        <div class="d-flex flex-column justify-content-center ">
                                            <span class="d-inline-block text-muted fw-bold">Validity</span>
                                            <span class="d-inline-block">25 Days</span>
                                        </div>
                                        <div class="d-flex  justify-content-center">
                                            <span style="color: green; font-size: 13px;" class=" py-2 pe-3" >31% OFF</span>
                                            <button mat-raised-button color="primary"> BUY NOW </button>
                                        </div>
                                    </div>
                                    <p class="text-muted text-center mt-2 " style="font-size: 12px;">Golden Ticket in England T20 League can be used once in Mega Contest of ₹49.</p>
                                </mat-card-content>
                              </mat-card>   
                            </div>                           
                        </mat-tab>
                        <mat-tab label="Purchased">
                            <div class="d-flex flex-column align-items-center justify-content-center " style="height: 430px;" >
                                <img src="https://www.myteam11.com/fantasy-sports/assets/images/coupon_notfound.png" alt="...." height="100">
                                <p class="fw-bold text-muted mt-2">You have not purchased any Golden Ticket yet.</p>
                            </div>
                        </mat-tab>
                        <mat-tab label="Used History"> 
                            <div class="d-flex flex-column align-items-center justify-content-center " style="height: 430px;" >
                                <img src="https://www.myteam11.com/fantasy-sports/assets/images/coupon_notfound.png" alt="...." height="100">
                                <p class="fw-bold text-muted mt-2">You do not have any used history.</p>

                            </div>
                        </mat-tab>
                      </mat-tab-group>
                      
                </div>             
            </div>
        </div>
    </div>
</div>