<div style="min-height: 438px; margin-top: 84px; margin-bottom: 90px;">
    <div class="container p-0 m-0">
        <div class="row p-0 m-0">
            <div class="col-12 pt-2">
                <div class="d-flex card-box bg-white flex-column ">
                    <div class="d-flex flex-column justify-content-end" style="background-image: url('https://d2dff8b7n2b8d5.cloudfront.net/mt11v5_images/aboutus_banner.jpg'); background-position: center;height: 300px; background-size: cover;" >
                        <div class="d-flex flex-column">
                            <h5 class="text-center text-light">Who Are We ?</h5>
                            <p class="text-center text-light pb-5">We follow the passion of sports and offer some of the best fantasy sports experience to all the sports lovers out there! Get ready to begin the best fantasy sports journey with MyTeam11!</p>
                        </div>
                    </div>
                    <h4 class="px-3 pt-3">About Us</h4>        
                    <p style="font-size: 14px;" class="px-3">
                        MyTeam11 is India’s most trusted fantasy sports app. Launched in 2016, MyTeam11 presently
                        acquires a user base of 18 million+ across the country. Giving online fantasy sports gaming in
                        India a boost, we help you engage with various sports with exciting rewards and winnings.
                        Whether your game is Cricket, Football, Kabaddi or Basketball, MyTeam11 has daily contests and
                        tournament leaderboard leagues you’ll love. You have a vast choice of contest options, from
                        Practice Contests where you can test your skills for free to Mega Contests where users can lay
                        hands on huge winnings.
                    </p>
                    <div class="w-100 d-flex justify-content-center my-3" >
                        <img src="https://mt11-html-images.s3.ap-south-1.amazonaws.com/myteam_about.png" alt="my-team-11" height="160">
                    </div>
                    <h4 class="px-3 pt-3">Our History</h4>

                    <div class="row py-4">
                        <div class="col-4 d-flex justify-content-center">
                            <img src="https://d2dff8b7n2b8d5.cloudfront.net/mt11v5_images/history-2016.jpg" alt="..." height="30">
                        </div>
                        <div class="col-4 d-flex justify-content-center align-items-center ">
                            <p class="text-center m-0">2016</p>
                        </div>
                        <div class="col-4 d-flex justify-content-center align-items-center ">
                            <p class="text-center m-0">MyTeam11 Began Operations</p>
                        </div>
                    </div> 
                    <div class="row py-4">   
                        <div class="col-4 d-flex justify-content-center align-items-center">
                            <p class="text-center m-0">Official Partner KPL 2017</p>
                        </div>
                        <div class="col-4 d-flex justify-content-center align-items-center">
                            <p class="text-center m-0">2017</p>
                        </div>
                        <div class="col-4 d-flex justify-content-center align-items-center ">
                            <img src="https://d2dff8b7n2b8d5.cloudfront.net/mt11v5_images/history-2017.jpg" alt="..." height="30">
                        </div>
                    </div>
                    <div class="row py-4">

                        <div class="col-4 d-flex justify-content-center">
                            <img src="https://d2dff8b7n2b8d5.cloudfront.net/mt11v5_images/history-2018.jpg" alt="..." height="30">
                        </div>
                        <div class="col-4 d-flex justify-content-center align-items-center ">
                            <p class="text-center m-0"> 2018</p>
                        </div>
                        <div class="col-4 d-flex justify-content-center align-items-center ">
                            <p class="text-center m-0"> 1 Million Users</p>
                        </div>
                    </div>
                    <div class="row py-4">    
                        <div class="col-4 d-flex justify-content-center">
                            <p class="text-center m-0">Title Sponsor for India Tour of West Indies 2019</p>
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <p class="text-center m-0">2019</p>
                        </div>
                        <div class="col-4 d-flex justify-content-center align-items-center ">
                            <img src="https://d2dff8b7n2b8d5.cloudfront.net/mt11v5_images/history-2019.jpg" alt="..." height="30">
                        </div>
                    </div>
                    <div class="row py-4">

                        <div class="col-4 d-flex justify-content-center">
                            <img src="https://d2dff8b7n2b8d5.cloudfront.net/mt11v5_images/history-201901.jpg" alt="..." height="30">
                        </div>
                        <div class="col-4 d-flex justify-content-center align-items-center ">
                            <p class="text-center m-0">
                                2019</p>
                        </div>
                        <div class="col-4 d-flex justify-content-center align-items-center ">
                            <p class="text-center m-0">
                                2.5 Million Users</p>
                        </div>
                    </div>

                    <div class="row py-4">
                        <div class="col-4 d-flex justify-content-center">
                            <img src="https://d2dff8b7n2b8d5.cloudfront.net/mt11v5_images/history-2020.jpg" alt="..." height="30">
                        </div>
                        <div class="col-4 d-flex justify-content-center align-items-center ">
                            <p class="text-center m-0">
                                2020
                            </p>
                        </div>
                        <div class="col-4 d-flex justify-content-center align-items-center ">
                            <p class="text-center m-0">
                                Launched Sports Tiger
                            </p>
                        </div>
                    </div>  
                    <div class="row py-4">

                        <div class="col-4 d-flex justify-content-center">
                            <img src="https://d2dff8b7n2b8d5.cloudfront.net/mt11v5_images/history-202001.jpg" alt="..." height="30">
                        </div>
                        <div class="col-4 d-flex justify-content-center align-items-center ">
                            <p class="text-center m-0">
                                2020</p>
                        </div>
                        <div class="col-4 d-flex justify-content-center align-items-center ">
                            <p class="text-center m-0">
                                Launched MyTeamRummy & MyTeamPoker</p>
                        </div>
                    </div>  
                    <div class="row py-4">
                        <div class="col-4 d-flex justify-content-center">
                            <p class="text-center m-0">
                                Crossed 15 million userbase</p>
                            </div>
                            <div class="col-4 d-flex justify-content-center">
                                <p class="text-center m-0">
                                    2021</p>
                                </div>
                        <div class="col-4 d-flex justify-content-center align-items-center ">
                                <img src="https://d2dff8b7n2b8d5.cloudfront.net/mt11v5_images/history-2021.jpg" alt="..." height="30">     
                        </div>
                    </div>
                    <div class="row py-4">
                        <div class="col-4 d-flex justify-content-center">
                            <img src="https://d2dff8b7n2b8d5.cloudfront.net/mt11v5_images/history-202101.jpg" alt="..." height="30">
                        </div>
                        <div class="col-4 d-flex justify-content-center align-items-center ">
                            <p class="text-center m-0">
                                2021</p>
                        </div>
                        <div class="col-4 d-flex justify-content-center align-items-center ">
                            <p class="text-center m-0">
                                Mono-Gaming to Multi-Gaming</p>
                        </div>
                    </div>
                    <div class="row py-4">
                        <div class="col-4 d-flex justify-content-center">
                            <p class="text-center m-0">MyTeam11 introduced on Google Play Store
                            </p>
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <p class="text-center m-0">2022
                            </p>
                        </div>
                        <div class="col-4 d-flex justify-content-center align-items-center ">
                            <img src="https://d2dff8b7n2b8d5.cloudfront.net/mt11v5_images/history-2022.jpg" alt="..." height="30">
                        </div>
                    </div>   

                    <div class="w-100 d-flex justify-content-center my-3" >
                        <img src="https://mt11-html-images.s3.ap-south-1.amazonaws.com/mision_vision.png" alt="my-team-11" height="160">
                    </div>
                    <h4 class="px-3">Our Vision and Mission</h4>
                    <h5 class="px-3" >“A journey without a vision and a mission lead you nowhere.”</h5>
                    <p style="font-size: 14px;" class="px-3">MyTeam11 vision is to make online fantasy sports a thrilling and winning experience for gamers. As the industry witnesses exponential growth, MyTeam11 plans to expand the magic of online fantasy sports & gaming to every corner of the country. Our mission is to unite every gamer and sports lover in the country to fuse with real-time matches while earning rewards from their skills of creating fantasy sports teams.</p>
                </div>
            </div>
        </div>
    </div>
</div>