<div  style="min-height: 504px; margin-top: 84px; margin-bottom: 90px;">
    <div class="container p-0 m-0">
        <div class="row p-0 m-0">
            <div class="col-12 p-0">
                    <div class="d-flex bg-white flex-column " >
                        <p class="text-center fs-5 mt-3 mb-1"> Total Rewards Earn</p>
                        <p class="text-center fw-bold ">₹ 0</p>
                    </div>
                    <div class="d-flex bg-white flex-column mx-2 mt-3" style="box-shadow: 4px 4px 17px 0px gray" >
                        <p class="text-center my-3 text-muted">No Data Found</p>
                    </div>
            </div>
        </div>
    </div>
</div>