.hovereffect:hover{
    background-color: rgb(201 226 255) !important;
}
.team-one{
    padding: 0 3px;
   background: rgba(255, 255, 255, 0.2);
   
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
   border: 1px solid rgba(255, 255, 255, 0.3);
     }
   
     .team-two{
       padding: 0 3px;
   background: rgba(0, 0, 0, 0.48);
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
   border: 1px solid rgba(0, 0, 0, 0.3);
     }