<div  style="min-height: 504px; margin-top: 84px; margin-bottom: 90px;" class="d-flex justify-content-center ">
    <div class="container p-0 m-0">
        <div class="row p-0 m-0">
            <div class="col-12 p-0">
                 <div class="d-flex flex-column justify-content-center ">
                    <img src="https://www.myteam11.com/fantasy-sports/assets/images/img_nofav.svg" alt="..." height="250">
                    <p class="m-0 text-center mt-2 fw-bold text-muted ">No Favourite Contest Here!</p>
                    <p class="m-0 text-center mt-2 text-muted "> Select a Match > Go to Contest > Mark as Favourite</p>
                 </div>
            </div>
        </div>
    </div>
</div>